/* 
    Document   : controlStyle1
*/

.root{

}
.combo-box-popup .list-view .list-cell{
	-fx-background-color: #f5c9ac; -fx-border-color: #000000;
	
}

.combo-box-popup .list-view .list-cell :hover{
    -fx-background-color: #ffbbaf;
}
.combo-box-base {
	-fx-background-color: #f5c9ac; -fx-border-color: #000000;
	
}

.combo-box-base:hover{
    -fx-background-color: #ffbbaf;
}

.region {
	-fx-background-color: blue;
}

.combo-box .arrow, .combo-box .arrow-button{
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: #f5c9ac; -fx-border-color: #000000;
}

.button:hover{
    -fx-background-color: #ffbbaf;
}

