/* 
    Document   : controlStyle1
*/

.root{
    -fx-background-color: #c8e3f0;
}

.pane{
    -fx-background-color: #c8e3f0;
}

.window{
    -fx-background-color: #c8e3f0;
}

.context-menu{-fx-background-color: #5babd1; -fx-border-color: #5babd1; -fx-text-fill: #e4f1f7;}
.menu-bar {-fx-background-color: #c8e3f0;}
.menu {-fx-background-color: #5babd1; -fx-border-color: #5babd1; -fx-text-fill: #e4f1f7; -fx-padding: 5 50 5 5;}
.menu:showing {-fx-background-color: #5babd1; -fx-border-color: #5babd1; -fx-text-fill: #e4f1f7;}
.menu:showing *.hover{-fx-background-color: #248fc1; -fx-border-color: #248fc1;}
.menu *.hover{-fx-background-color: #248fc1; -fx-border-color: #248fc1;}

.dialog-pane {-fx-background-color: #c8e3f0;}

.dialog-pane:header *.header-panel{-fx-background-color: #c8e3f0;}



.choice-box *.context-menu { -fx-background-color: #5babd1; -fx-border-color: #5babd1; -fx-text-fill: #e4f1f7;}

.choice-box *.menu-item:focused { -fx-background-color: #248fc1; -fx-text-fill: #e4f1f7;}

.choice-box:hover{ -fx-background-color: #248fc1; -fx-text-fill: #e4f1f7; }

.choice-box {
  -fx-background-color: #5babd1; 
  -fx-mark-color: #e4f1f7;
  -fx-text-fill: #e4f1f7;
}


.jfx-combo-box *.label {
	-fx-background-color: #5babd1; -fx-text-fill: #e4f1f7;
}


.combo-box-popup *.list-view *.list-cell{
	-fx-background-color: #5babd1; -fx-border-color: #5babd1; -fx-text-fill: #e4f1f7;
}
.combo-box-popup *.list-view *.list-cell:hover{
    -fx-background-color: #248fc1; -fx-text-fill: #e4f1f7;
}
.combo-box-base {
	-fx-background-color: #5babd1; -fx-text-fill: #e4f1f7;
	
}

.combo-box-base:hover{
	-fx-background-color: #248fc1; -fx-text-fill: #e4f1f7;
	
}

.region {
	-fx-background-color: blue;
}

.combo-box .arrow, .combo-box .arrow-button{
     -fx-mark-color: #e4f1f7;
}

.button {
    -fx-background-color: #5babd1; -fx-border-color: #5babd1;
    -fx-text-fill: #e4f1f7;
}

.button:hover{
    -fx-background-color: #248fc1; -fx-border-color: #248fc1;
}

.vbox{
    -fx-background-color: #accaf5;
}

.hbox{
    -fx-background-color: #accaf5;
}
